<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ผู้จัดทำ</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/body.css" type="text/css">
    <link rel="stylesheet" href="/static/css/about.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <script src="{{ url_for('static', filename='js/about.js') }}"></script>


</head>
<body>
    {% include 'menubar.html' %}

    {% include 'header-box.html' %}

    <div class="main-content">
        <div class="creator-section">
            <h2 class="title"><i class="fas fa-users text-main"></i> ผู้จัดทำ</h2>
            <div class="creator-grid">
                <!-- ผู้จัดทำคนที่ 1 -->
                <div class="creator-card">
                    <img src="/static/images/user1.jpg" alt="User 1">
                    <h3>นางสาวมินตรา สุขสมปรารถนา</h3>
                    <p>รหัสนักศึกษา: 165405241017</p>
                    <p>สาขา: วิทยาการคอมพิวเตอร์</p>
                    <p>คณะ: วิทยาศาสตร์และเทคโนโลยี</p>
                    <p>มหาวิทยาลัยเทคโนโลยีราชมงคลสุวรรณภูมิ</p>
                </div>

                <!-- ผู้จัดทำคนที่ 2 -->
                <div class="creator-card">
                    <img src="/static/images/user2.jpg" alt="User 2">
                    <h3>นายอนุวรรตน์ เอนก</h3>
                    <p>รหัสนักศึกษา: 165405241021</p>
                    <p>สาขา: วิทยาการคอมพิวเตอร์</p>
                    <p>คณะ: วิทยาศาสตร์และเทคโนโลยี</p>
                    <p>มหาวิทยาลัยเทคโนโลยีราชมงคลสุวรรณภูมิ</p>
                </div>
            </div>
        </div>
        <div class="creator-section">
            <h2 class="title"><i class="fas fa-chalkboard-teacher text-main"></i> อาจารย์ที่ปรึกษา</h2>
            <div class="creator-grid">
                <!-- อาจารย์ที่ปรึกษาหลัก -->
                <div class="creator-card">
                    <img src="/static/images/advisor1.jpg" alt="Advisor 1">
                    <h3>อาจารย์ ดร.จิตตภู พูลวัน</h3>
                    <p>อาจารย์ที่ปรึกษาหลัก</p>
                    <p>มหาวิทยาลัยเทคโนโลยีราชมงคลสุวรรณภูมิ</p>
                </div>

                <!-- อาจารย์ที่ปรึกษาร่วม -->
                <div class="creator-card">
                    <img src="/static/images/advisor2.jpg" alt="Advisor 2">
                    <h3>อาจารย์ ดร.ธนพร ปฏิกรณ์</h3>
                    <p>อาจารย์ที่ปรึกษาร่วม</p>
                    <p>มหาวิทยาลัยเทคโนโลยีราชมงคลสุวรรณภูมิ</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
