<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - MealMatch AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="login-logo">
        <form id="login-form" class="login-form">
            <h2 class="text-login">เข้าสู่ระบบ MealMatch AI</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" id="username" name="username" placeholder="กรอก Username" required>
            </div>
    
            <div class="form-group">
                <label for="password">รหัสผ่าน</label>
                <input type="password" id="password" name="password" placeholder="กรอกรหัสผ่าน" required>
                
                <!-- ✅ ช่องแสดง error -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        {% if category == 'login-error' %}
                            <p class="field-error">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </div>
    
            <button type="submit" class="login-button">เข้าสู่ระบบ</button>
        </form>

        <!-- ลิงก์สมัครสมาชิก -->
        <p class="register-link">ยังไม่มีบัญชี? <a href="{{ url_for('auth.register') }}">สมัครเลย</a></p>
    </div>
</body>

</html>
