<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}left-box{% endblock %}</title>
    
    <link rel="stylesheet" href="/static/css/user-left-box.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    
    <script src="/static/js/left-box.js"></script>
</head>
<body>
    <div class="left-box">
        <div class="icon-button scroll-to-top" data-tooltip="เลื่อนกลับขึ้นด้านบน" data-icon="⬆️">
            <i class="fas fa-arrow-up"></i> <!-- เริ่มต้นเป็นไอคอนรูปบ้าน -->
        </div>
        <div class="icon-button home-button" data-tooltip="กลับหน้าหลัก" data-icon="🏠">
            <i class="fas fa-home"></i> <!-- เริ่มต้นเป็นไอคอนรูปบ้าน -->
        </div>
        <div class="icon-button menuGeneral-Button" data-tooltip="เมนูอาหารทั่วไป" data-icon="⚙️">
            <i class="fas fa-vials"></i>
        </div>
        <div class="icon-button about-Button" data-tooltip="ผู้จัดทำ" data-icon="ℹ️">
            <i class="fas fa-users"></i>
        </div>
        <div class="icon-button logout-button" data-tooltip="ออกจากระบบ" data-icon="🚪">
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </div>
    <div id="tooltip" class="tooltip"></div>
    {% block content %}{% endblock %}
</body>
</html>